@charset "UTF-8";
/* CSS Document */

/* Body */
body{
	background-color: white;
	text-align: center;
	margin: 0;
}
#alignment{
	max-width: 1600px;
}

#page{
	position: relative;
	
	
}
/*Nav bar */
#section-nav{
	
}
#nav {
	background-color: rbg(249,249,249);
	height: auto;
	padding-top:.5px;
	padding-bottom: .5px;
	border-bottom: .1px solid rgb(215, 214, 220);
	position: fixed;
	z-index: 100;
	width: 100%;
}

#nav-ul {
	list-style-type: none;
	padding-bottom:1px;
}

.navbar {
  	text-indent:20px;
	text-align: center;
	padding: 20px;
  	font-family: segoe;
	font-size: 20px;
  	font-weight: 700;
	display: inline;
}
/* Nav-Bar A Links */
.a-nav{
	transition: all 0.1s;
	text-decoration: none;
	color:#ccafaf;
	text-shadow: 0.5px 0.5px black;
}
.a-nav:hover {
  	letter-spacing: 1px;
	transition: all 0.1s;
	padding-left: 25px;
	padding-right: 25px;
}
/* Contact Nav Bar */
#contacts-nav{
	/*background-color: green;*/
	position: relative;
	margin: 0 auto;
	height: auto;
	width:100%;
	text-align: center; /* th`is aligns header and cnct nav */

}

.contact-nav{
	display:inline;
	margin: 20px;
}
#contacts-ul{
	padding-top: 6%;
	display: block;
}

/* Home Section */
#section-home{
	position: relative;
	height: 100vh;
	text-align:center;
}

#home-header{
	position: relative;
	top: 75px;
	padding-bottom: 3%;
}

#home-title{
	font-size: 3.5em;
	color: #342b38;
}

#home-h2{
	position: relative;
	bottom: 20px;
	padding-top: 5px;
	color: #562349;
	font-size: 1.7em;
}

/* Project Section */
#section-projects{
	height: 100vh;
}
#project-title{
	color: #342b38;
}

div .box{
	display: grid;
	text-align: center;
	margin: 0 auto;
	grid-gap: 5em;
	justify-items: center;
	color: 
}

.column{
	color:#562349;
	font-weight: 600;
	width: 15em;
	height: 15em;
	border: solid;
	border-color: #4d3e3e;
	
}
/* Resume Section */
#section-resume{
	height: 100vh;
}

#resume-title{
	color: #342b38;
}

#resume-img{
	width: 550px;
	position: relative;
	margin: auto;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#resume-div{
	width:100%;
	text-align: center; /* th`is aligns header and cnct nav */
}

footer{
	border: solid;
	border-width: 1px;
	color: white;
	background-color: black;
	height: 5vh;
	text-align: left;
	font-size: .7em;
	padding: 50px 20px 20px 20px;
}

/*Media Quieries */
@media only screen and (max-width: 485px){
	#resume-img{
		width: 18em;
	}
	.navbar{
	display: block;

	}
	.column{
		width: 13em;
		height: 13em;
		
	}
}

@media only screen and (max-width: 485px){

#home-header{
	padding-top: 80px;
}
.navbar {
	padding-top: 10px;
  	font-weight: 700;
	display: inline;
}

footer{
	font: .5em;
}
}

@media only screen and (max-width: 485px){
/* Contact Nav Bar */
#contacts-nav{
	padding-top: 25px;
	right: 15px;
}

.contact-img{
	size: 1em;
	width: 60px;
	height: 60px;

}
}
