@charset "UTF-8";
/* CSS Document */

/* Body */
body{
	background-color: white;
	color:white;
}
#alignment{
	margin-left:20px;
}
/*Nav bar */
#nav {
	background-color: rgb(255,132,124);
	height: auto;
	padding-top:.5px;
	padding-bottom: .5px;
	text-align: center;
	box-shadow: 0px 1px 2px rgb(122, 109, 109);
	position: fixed ;
	z-index: 100;
	width: 100%;
}

#nav-ul {
	list-style-type: none;
	padding-bottom:1px;
}

.navbar {
  	width: 10px;
  	text-indent:20px;
	text-align: center;
	padding: 20px;
  	font-family: segoe;
	font-size: 20px;
  	font-weight: 700;
	display: inline;
}
/* Nav-Bar A Links */
.a-nav{
	transition: all 0.1s;
	text-decoration: none;
	color: white;
}
.a-nav:hover {
  	letter-spacing: 1px;
	transition: all 0.1s;
	padding-left: 25px;
	padding-right: 25px;
}
/* Contact Nav Bar */
.contact-nav{
	display:inline;
	margin: 20px;
	position: relative;
	left: 200px;
}

/* Home Section */
#section-home{
	position: relative;
	background-color: rgb(254, 206, 171);
	height: 100vh;
}

#home-header{
	position: relative;
	top: 75px;
}

#home-title{
	color:black;
}

/* Contact Navbar */

#contacts-nav{
	display: grid;
	
}

.contact-img{
	width: 100px;
	border: none;
}
 

/* Resume Section */
#section-resume{
	display: block;
	height: 100vh;
	background-image:linear-gradient(to right, rgb(254, 206, 171), rgb(232, 74, 95));
}

#resume-title{
	color:white;
}

#resume-img{
	width: 550px;
	position: relative;
	margin: auto;
	border-style: solid;
	border-color: black;
	border-width: 1px;

}

/*Media Quieries */

@media screen and (min-width:500){
	#resume-img{
		width: 300px;
	}
}