body,html {
	margin: 0; 
	width: 100%; 
	height: 100%; 
	font-family: SF; 
}
@font-face {font-family: segoe; src: url('Segoe-UI-Bold.ttf') format('opentype'); font-weight: 100;}

  div {
  	background-color: rgb(113,162,186);
	height: auto;
  	width: 500px;
 	margin: auto;
	padding-bottom: 1px;
	text-align: center;
}
  h1 {
  text-align: center;
  font-family:segoe;
  color: rgb(255,255,255);

}
