body{
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EAFBFF;
}

h1 {
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #2D81D4;
  line-height: 2;
}
h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #37BEB0;
  font-weight: normal;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #05445E;
}
.top-container {
  background-color: #b2deec;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #EAFBFF;
}

.mid-par{
  color: #05445E;
}

.lower-container {

  background-color: #EAFBFF;
}

.bottom-container{
  height: 20%;
  padding-bottom: 20px;
}

.mid-hr{
  width: 50%;
  border: none;
  border-top: 1px solid black;
}

.skill-row{
  width: 50%;
}
.name-header {
  margin-top: 0;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 500px;
}

.bot-hr{
  width: 75%;
  border: none;
  border-top: 1px solid black;
}

.pro {
  text-decoration: underline;
}

/* Images */

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  margin: 2rem;
  padding-top: 30px;
}

.skill-row {
  line-height: 2;
}

.skill-img{
  width: 200px;
  margin-right: 30px;
}

.btn{
  text-decoration: none;
  font-weight: bold;
  color: #05445E;
  padding: 20px;
}


 .footer-link{
    text-decoration: none;
    color: #05445E;
    margin: 15px;
 }

footer{
  padding-top: 20px;
  height: 20%;
  color: #FFFFFF;
  background-color:#0C2D48;
  padding-bottom: 20px;
}
.copyright{
  margin: 10;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
}

.skill-img{
  width: 80%;
}
.grid-container {
  margin: auto;
  align-items: center;
  text-align: center;
}
h2{
  font-size: 4.2rem;
  margin: 10;
}
h3{
  font-size: 2.3rem;
}
}
